In [1]:
import numpy as np
import pandas as pd

In [2]:
import spacy

# Load spaCy for french
spacy_nlp = spacy.load("fr_core_news_sm")

In [3]:
X_train = pd.read_csv('X_train.csv')

In [4]:
X_train.head()

,Unnamed: 0,designation,description,productid,imageid
0,0,Olivia: Personalisiertes Notizbuch / 150 Seite...,NaN,3804725264,1263597046
1,1,Journal Des Arts (Le) N° 133 Du 28/09/2001 - L...,NaN,436067568,1008141237
2,2,Grand Stylet Ergonomique Bleu Gamepad Nintendo...,PILOT STYLE Touch Pen de marque Speedlink est ...,201115110,938777978
3,3,Peluche Donald - Europe - Disneyland 2000 (Mar...,NaN,50418756,457047496
4,4,La Guerre Des Tuques,Luc a des id&eacute;es de grandeur. Il veut or...,278535884,1077757786

In [5]:
def cleaning(X_train): 
    X_train = X_train.drop(['description', 'productid','imageid'], axis=1)
    X_train.columns = ['integer_id', 'designation']
    return X_train

In [6]:
X_train = cleaning(X_train)

In [7]:
X_train

       integer_id                                        designation
0               0  Olivia: Personalisiertes Notizbuch / 150 Seite...
1               1  Journal Des Arts (Le) N° 133 Du 28/09/2001 - L...
2               2  Grand Stylet Ergonomique Bleu Gamepad Nintendo...
3               3  Peluche Donald - Europe - Disneyland 2000 (Mar...
4               4                               La Guerre Des Tuques
...           ...                                                ...
84911       84911                        The Sims [ Import Anglais ]
84912       84912  Kit piscine acier NEVADA déco pierre Ø 3.50m x...
84913       84913  Journal Officiel De La Republique Francaise N°...
84914       84914  Table Basse Bois De Récupération Massif Base B...
84915       84915  Gomme De Collection 2 Gommes Pinguin Glace Ver...

[84916 rows x 2 columns]

In [10]:
def normalize_accent(string):
    string = string.replace('á', 'a')
    string = string.replace('â', 'a')

    string = string.replace('é', 'e')
    string = string.replace('è', 'e')
    string = string.replace('ê', 'e')
    string = string.replace('ë', 'e')

    string = string.replace('î', 'i')
    string = string.replace('ï', 'i')

    string = string.replace('ö', 'o')
    string = string.replace('ô', 'o')
    string = string.replace('ò', 'o')
    string = string.replace('ó', 'o')

    string = string.replace('ù', 'u')
    string = string.replace('û', 'u')
    string = string.replace('ü', 'u')

    string = string.replace('ç', 'c')
    
    return string

In [18]:
def raw_to_tokens(raw_string, spacy_nlp):
    # Write code for lower-casing
    string = raw_string.lower()
    
    # Write code to normalize the accents
    string = normalize_accent(string)
        
    # Write code to tokenize
    spacy_tokens = spacy_nlp(string)
        
    # Write code to remove punctuation tokens and create string tokens
    string_tokens = [token.orth_ for token in spacy_tokens if not token.is_punct if not token.is_stop]
    
    # Write code to join the tokens back into a single string
    clean_string = " ".join(string_tokens)
    
    return clean_string

In [19]:
print("Raw string: ", X_train['designation'][26])

# Call the above raw_to_tokens function
clean_2 = raw_to_tokens(X_train['designation'][26] ,spacy_nlp)

print("Clean string: ", clean_2)

Raw string:  Modèle De Voiture 4pcs Alliage Métallique 1.9in Jante De Roue Pour 1/10 Traxxas Trx4 Hsp Scx10 D90 Rc Voiture
Clean string:  modele voiture 4pcs alliage metallique 1.9 in jante roue 1/10 traxxas trx4 hsp scx10 d90 rc voiture

In [ ]:
for i in range(len(X_train['designation'])) : 
    X_train['gentil'] = raw_to_tokens(X_train['designation'][26] ,spacy_nlp)